.header {
  &__container {
    background-color: black;
    display: flex;
    flex-direction: row;
  }

  &__logo {
    max-height: 4rem;
  }

  &__item {
    color: white;
    cursor: pointer;
    padding: 1rem;
    &:hover {
      color: pink;
    }
  }
}
