@import "../../style/abstracts/mixins";

.pok-card {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: solid 2px yellow;

  .card-container {
    @include flex-column(center, center);
  }

  .add-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
  }
}
